Repository gces-govhub/app-lappis-ipea: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scan, docker-build-and-push

scan:
  stage: test
  image: sonarsource/sonar-scanner-cli:latest
  script:
  - sonar-scanner -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.organization=$SONAR_ORG -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN

docker-build-and-push:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $IMAGE_TAG .
  - docker push $IMAGE_TAG

Redirecting dbt logs to another folder
  airflow_lappis/dags/dbt/ipea/cosmos_dag.py
  requirements.txt
Due: docker-build-and-push

refactor(dags): altera logica para setar variaveis
  airflow_lappis/configs/orgaos.yaml
  airflow_lappis/dags/data_ingest/contratos_ingest_dag.py
  docker-compose.yml
Due: none

feat(dags): corrige variaveis no restante das dags
  airflow_lappis/dags/data_ingest/nota_empenho_siafi_ingest_dag.py
  airflow_lappis/dags/data_ingest/notas_de_credito_ingest_dag.py
  airflow_lappis/dags/data_ingest/programacao_financeira_ingest_dag.py
Due: none

fix(dag): corrige variavel restante
  airflow_lappis/dags/data_ingest/contratos_inativos_ingest_dag.py
Due: none

Modelos ted
  airflow_lappis/dags/dbt/ipea/dbt_project.yml
  airflow_lappis/dags/dbt/ipea/macros/create_udfs.sql
  airflow_lappis/dags/dbt/ipea/macros/parse_financial_value.sql
  airflow_lappis/dags/dbt/ipea/macros/udfs/f_format_nc.sql
  airflow_lappis/dags/dbt/ipea/macros/udfs/f_parse_financial_value.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/empenhos_tesouro.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/estagios.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/silver/estagios_mensal.sql
  airflow_lappis/dags/dbt/ipea/models/sources.yml
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/silver/empenhos_w_plano_acao.sql
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/silver/notas_credito_w_plano_acao.sql
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/views/num_transf_n_plano_acao.sql
  requirements.txt
Due: docker-build-and-push

Fix/email
  airflow_lappis/dags/data_ingest/empenhos_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/estagios_tesouro_ingest_dag.py
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/empenhos_tesouro.sql
  airflow_lappis/plugins/cliente_email.py
Due: none

Feat silver gold
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/cronogramas.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/empenhos.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/faturas.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_comparativo_mensal.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_somatorio.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/silver/cronogramas_faturas_mensal.sql
  airflow_lappis/dags/dbt/ipea/snapshots/contratos_snapshot.yml
  airflow_lappis/dags/dbt/ipea/snapshots/tables_snapshot.yml
Due: none

fix(plugin): corrige schema
  airflow_lappis/plugins/cliente_postgres.py
Due: none

feaat(dags): adiciona dag de pfs e ajustas dags do email
  airflow_lappis/dags/data_ingest/empenhos_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/estagios_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/pf_tesouro_ingest_dag.py
  airflow_lappis/plugins/cliente_email.py
Due: none

Fix/small sintax fix
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/cronogramas.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/empenhos_tesouro.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/estagios.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_resumo.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_somatorio.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/silver/contratos_empenhos.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/silver/cronogramas_faturas_mensal.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/silver/estagios_mensal.sql
  airflow_lappis/dags/dbt/ipea/snapshots/tables_snapshot.yml
Due: none

feat(column): adiciona possibilidade de mapeamento nulo para colunas
  airflow_lappis/dags/data_ingest/pf_tesouro_ingest_dag.py
  airflow_lappis/plugins/cliente_email.py
Due: none

fix(postgres): ajusta conexao postgres de unidade organizacional
  airflow_lappis/dags/data_ingest/unidade_organizacional_ingest_dag.py
Due: none

snapshot de cronogramas
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/bronze/cronogramas.sql
  airflow_lappis/dags/dbt/ipea/snapshots/tables_snapshot.yml
Due: none

Feat/fix time gaps
  airflow_lappis/dags/dbt/ipea/dbt_project.yml
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_comparativo_mensal.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/views/identificadores.sql
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/views/preenchimento_meses.sql
Due: none

Fix/join gold
  airflow_lappis/dags/dbt/ipea/models/contratos_dbt/gold/contratos_comparativo_mensal.sql
Due: none

feat(dbt): parametriza profiles.yml com variaveis de ambiente
  airflow_lappis/dags/dbt/ipea/profiles.yml
Due: none

Ted models
  airflow_lappis/dags/dbt/ipea/macros/udfs/f_parse_dates.sql
  airflow_lappis/dags/dbt/ipea/models/sources.yml
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/bronze/pf_tesouro.sql
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/silver/empenhos_plano_acao.sql
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/silver/nc_plano_acao.sql
  airflow_lappis/dags/dbt/ipea/models/ted_dbt/silver/pf_plano_acao.sql
Due: none

alteracao ingestao cronogramas
  airflow_lappis/dags/data_ingest/cronograma_ingest_dag.py
Due: none

feat(insert): ajusta o insert das tabelas do tesouro
  airflow_lappis/dags/data_ingest/empenhos_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/pf_tesouro_ingest_dag.py
  airflow_lappis/plugins/cliente_postgres.py
Due: none

Inserindo codigo de conduta
  CODE_OF_CONDUCT.md
Due: none

Ajusta arquivo de ci para rodar no github.
  .github/workflows/ci.yml
Due: none

docs: update README with OS-specific setup instructions and placeholders for screenshots ✨
  README.md
  prints/print1.png
  prints/print10.png
  prints/print2.png
  prints/print3.png
  prints/print4.png
  prints/print5.png
  prints/print6.png
  prints/print7.png
  prints/print8.png
  prints/print9.png
Due: none

docs: add annotated macOS installation and execution screenshots to README
  README.md
  prints/print1-buildDocker.png
  prints/print1.png
  prints/print10.png
  prints/print2.png
  prints/print3-openDocker.png
  prints/print3.png
  prints/print4-pastaProj.png
  prints/print4.png
  prints/print5-buildCorrect.png
  prints/print5.png
  prints/print6-AIRFLOW.png
  prints/print6.png
  prints/print7-JUPYTER.png
  prints/print7.png
  prints/print8-superSET.png
  prints/print8.png
  prints/print9-containerAtivos.png
  prints/print9.png
Due: none

docs: guia de contribuição
  CONTRIBUTING.md
Due: none

docs: removendo guia de contribuicao
  CONTRIBUTING.md
Due: none

docs: guia de contribuição, template de PR e nova versão de README em pt-br
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: none

feat: adiciona issue template
  .github/ISSUE_TEMPLATE/issue-template.yml
Due: none

docs: prints de instalação
  README.md
Due: none

fix(lint): corrige erros no worflow
  .github/workflows/ci.yml
Due: none

fix(plugin): corrige bool
  airflow_lappis/plugins/cliente_siafi.py
Due: none

fix(lint): corrige erros lint
  airflow_lappis/dags/data_ingest/contratos_inativos_ingest_dag.py
  airflow_lappis/dags/data_ingest/contratos_ingest_dag.py
  airflow_lappis/dags/data_ingest/cronograma_ingest_dag.py
  airflow_lappis/dags/data_ingest/empenhos_ingest_dag.py
  airflow_lappis/dags/data_ingest/empenhos_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/estagios_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/faturas_ingest_dag.py
  airflow_lappis/dags/data_ingest/nota_credito_siafi_ingest_dag.py
  airflow_lappis/dags/data_ingest/nota_empenho_siafi_ingest_dag.py
  airflow_lappis/dags/data_ingest/notas_de_credito_ingest_dag.py
  airflow_lappis/dags/data_ingest/pf_tesouro_ingest_dag.py
  airflow_lappis/dags/data_ingest/plano_acao_ingest_dag.py
  airflow_lappis/dags/data_ingest/programa_beneficiario_ingest_dag.py
  airflow_lappis/dags/data_ingest/programacao_financeira_ingest_dag.py
  airflow_lappis/dags/data_ingest/programacao_financeira_siafi_ingest_dag.py
  airflow_lappis/dags/data_ingest/programas_ingest_dag.py
  airflow_lappis/dags/data_ingest/unidade_organizacional_ingest_dag.py
  airflow_lappis/dags/dbt/ipea/cosmos_dag.py
Due: none

feat(test): adiciona mocks para os teste
  tests/conftest.py
Due: scan

feat(test): adiciona teste inicial para dag contratos inativos
  tests/test_contratos_inativos_ingest_dag.py
Due: scan

feat: adiciona test contratos_ingest_dag
  airflow_lappis/__init__.py
  airflow_lappis/plugins/cliente_siape.py
  pyproject.toml
  tests/conftest.py
  tests/test_contratos_inativos_ingest_dag.py
  tests/test_contratos_ingest_dag.py
Due: scan, docker-build-and-push

feat: adiciona test contratos_inativos_ingest_dag
  tests/test_contratos_inativos_ingest_dag.py
Due: scan

feat: adiciona test cronogramas_ingest_dag
  tests/test_cronograma_ingest_dag.py
Due: scan

feat: adiciona test empenhos_ingest_dag
  tests/test_empenhos_ingest_dag.py
Due: scan

feat: adiciona test empenhos_tesouro_ingest_dag
  tests/test_empenhos_tesouro_ingest_dag.py
Due: scan

feat: adiciona test estagios_tesouro_ingest_dag
  tests/test_estagios_tesouro_ingest_dag.py
Due: scan

feat: adiciona test faturas_ingest_dag
  tests/test_faturas_ingest_dag.py
Due: scan

Path conditions:
  scan: any of: dags/**, plugins/**, src/**, tests/**
  docker-build-and-push: any of: Dockerfile, requirements.txt, pyproject.toml
